@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}

.blob {
  width: 846.154px;
  height: 1341.833px;
  position: fixed;
  flex-shrink: 0;
  right: -248px;
  top: -741px;
}

.header {
  padding: 2rem;
  padding-left: 5rem;
  display: flex;
  align-items: center;
  gap: 10rem;
}

.header ul {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.header li {
  list-style: none;
}

.header a {
  text-decoration: none;
  color: #212832;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.txt1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 135px;
}

.txt1 h4 {
  color: #7ce5f3;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.txt1 h1 {
  color: #1d224f;
  font-family: Poppins;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -2.2px;
}
